@model IEnumerable<Web.Models.CityVM>


@{
	ViewBag.Title = "Погода";
}

<div>
	<div class="row">
		<div class="col col-md-12">
			@Html.DropDownList("UkrainianCities", null, new { @class = "selectpicker", data_style = "btn-primary" })

			<div id="weatherresult"></div>
		</div>
	</div>
	
</div>

@section MyScript{
<script type="text/javascript">
	$(function () {
		var startId = 703448;/* Kiev*/
		var UkrainianCities = $("#UkrainianCities");// один раз знаходимо комбобокс
		
		UkrainianCities.val(startId); // знаходимо Київ

		// функція підгрузки
		var loader = function () {
			$('#weatherresult').load('@Url.Action("WeatherPartial", "Home")'
				, { id: UkrainianCities.val() });
		};

		loader(); // перший виклик функції

		// вішаємо обработчик події
		UkrainianCities.change(function () {
			loader();
		});		
	});
</script>
}



