@model DAL.Models.City

@{
	ViewBag.Title = "Погода";
}

<h2>Погода</h2>

<div>

	<div class="row">
		@Html.HiddenFor(model => model.id,  new { id = "cityid"})
		<div class="col col-md-2">країна: @Model.country </div>
		<div class="col col-md-2"> місто: @Model.name</div>
	</div>
	<hr />
	

	
	@*@Html.Partial("WeatherPartial");*@

	<div   id="weatherresult"></div>
</div>

@section MyScript{
	<script type="text/javascript">
		$(function () {

			$('#weatherresult').load('@Url.Action("WeatherPartial", "Home")', { id: $('#cityid').val() });
		});
	</script>
}


